.Head{
    background-color: deeppink;
    color: white;
}
.table{
    border-color: grey;
    height: 80%;
    width:50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-primary{
    width:50%;
}
.img:hover{
    transform:scale(1.1);
    transition: 0.3s ease-in-out;
}
.img{
    height: 260px;
    width: 200px;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
}

.container{
    height: 300px;
    width: 80%;
}






